/*A ver qué tal me sale este beta*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{

    box-sizing: inherit;
}

body{

    Color: black;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    background-color: rgb(233, 236, 240);
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}



/*------------------------------------Loguito--------------------------------*/

.Logo1{
    float: left;
}

/*----------------------------------------Título(Encabezado)------------------------------------*/

header{

}

header h1{
    text-transform: uppercase;
}


/*-----------------------------------Pasos--------------------------------------*/

.Pasos{

    list-style-type: none;
    padding: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 100px;
    justify-content: center;
    display: inline-flex;
    

}

.Pasos h3{

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    
}

.Pasos p{
    border-radius: 8px;
    margin-bottom: 35px;
}

.Pasos h3, p{

    
    display: inline-flex;
    background-color: none;
    padding: 55px 45px;
    border: none;
    margin: auto;
}

 /* Aquí luego ponemos el hover más el JS pero ahora es poco importante*/

/*--------------------------------------------------WhatsApp------------------------------*/

.Was{
    display: inline-block;
    border-width: 1.2px;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    background-image: url(/Proyecto.1/imágenes/2b45cfec4c0d3c56aed4ccd30b61bd3a.jpg);
}

.Was h2{
    padding: 2px 7px 2px 7px;
    border-bottom: 5px;
    display: inline-block;
    border-radius: 10px;
}

.Was a{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: none;
    padding: 15px 40px;
    margin: 20px 10px 10px 10px;
    
    border-bottom: 5px;
    border-radius: 10px;

}

.icon i{
    color: green;
    justify-content: center;
    font-size: 100px;
    padding: 50px 30px 25px 30px;
    
    

}



/*----------------------------------------------Marcas-----------------------------*/

.Marcas {
    display: inline-flex;
}

.Marcas h2{
    text-align: center;
    padding: 25px 50px  25px 50px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 50px;
    background-color: white;
}

.Alimentos {
    display: flex;
    margin: 25px 200px 25px 15px;
}

.Ofertas { 
    display: flex;
    margin: 25px 15px 25px 200px;
}

.Frutas {
    display: flex;
    margin: 25px 50px 25px 20px;
}

/*----------------------------------------------Mapa------------------------------------------*/




/*---------------------------------------------Pie de página--------------------------------*/
footer {
    background-color: gray;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}   

.Copyright p{
    
}

.Icons{

}

.and-stuff{

}